In [17]:
import pandas as ps
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [18]:
json = """
[
   {"name":"vinod","branch":"cse","subject":"DMlab"},
   {"name":"vijay","branch":"cse","subject":"DMlab"}
]
"""
df = pd.read_json(json)
df.to_excel('output.xls', index=False)
df.head()

  branch   name subject
0    cse  vinod   DMlab
1    cse  vijay   DMlab

In [19]:
dd=ps.read_excel('output.xls')
dd.head()

  branch   name subject
0    cse  vinod   DMlab
1    cse  vijay   DMlab